<!DOCTYPE html>
<html>
<head>
  <title>YouTube Video Urls of Studio Ghibli Films (Example API)</title>
  <link href="/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <main class="app">
      <h1>Studio Ghibli Films => YouTube Video Urls (Sample API)</h1>
      <section>
        <h2>List of the endpoints:</h2>
        <h3>Movies</h3>
        <ul>
          <li><a href="/api/movies">Movie List (/api/movies)</a></li>
          <li><a href="/api/movies/Princess%20Mononoke">Get a specific record by quering the name (/api/movies/:name)</a></li>
        </ul>
        <h3>Utils</h3>
        <ul>
          <li><a href="/api/utils/hello">Test if server is running - hello (/api/utils/hello)</a></li>
          <li><a href="/api/utils/is-mongoose-connected">Test if you can connect to DB - mongoose (/api/utils/is-mongoose-connected)</a></li>
        </ul>
      </section>
  </main>
  <footer>
    <p>By <a href="https://elissavet.me">Elissavet Triantafyllopoulou</a></p>
  </footer>
</body>
</html>